@use "sass:color";

.header {
  padding: 10px;
  margin-bottom: 20px;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    a {
      color: #ff7518;
      text-decoration: none;
    }

    a.active {
      color: red;
    }

    a:hover {
      color: #ff7518;
      text-decoration: underline;
    }

    .logout_button {
      button: {
        border: none;
        color: white;
        cursor: pointer;
        padding: 5px 10px;
        background-color: #ff7518;
      }
      &:hover {
        background-color: color.adjust(#ff7518, $lightness: -10%);
      }
    }
  }
}
