@font-face {
  font-family: "GreatVictorian-Standard";
  src: url("/src/assets/fonts/greatvictorian/GreatVictorian-Standard.otf")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  color: red;
  font-weight: bold;
  font-size: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  font-family: "GreatVictorian-Standard", serif;

  .modal__header {
    width: auto;
    color: black;
    font-size: 38px;
    border-radius: 8px 8px 0 0;
    background: #ff7518;
    padding: 1rem 0.5rem;
  }

  .modal__header h2 {
    margin: 0.5rem;
  }
  .modal__content {
    padding: 1rem 0.5rem;
  }

  .modal__footer {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
