.login_wrapper {
  margin: 0 auto;
}

.login_card {
  width: 400px;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

form {
  width: 100%;

  .login_button,
  .signup_button {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
  }
}

.toggle_button {
  button {
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
    color: #ff7518;
    background-color: transparent;
    text-decoration: underline;
  }
  .toggle_button:hover {
    color: #ff7518;
    text-decoration: none;
  }
}
