.card_wrapper {
  padding: 8px;
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 40px;
  background-color: #ccb;
  justify-content: space-around;
  flex-direction: column;
}
